*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
}

.panel {

	background: gray;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}